/*********GLOBAL TAGS*********/
li{
  list-style: none;
} 
button{
  cursor: pointer;
}
/*********NAVIGATION-MENU*********/
.rineria{
  width:50%;
}
.Nav{
  background: white;
  display: flex;
  /* background-image: url(./assets/images/home/home_wall.jpg); */
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px double rgb(1,1,1);
  box-shadow: 0 2px 15px 0 rgba(1,1,1,0.1);
}
.logo{
  display: flex;
  flex-direction: column;
  font-family: Ubuntu, sans-serif;
  font-size: 22px;
  color: rgb(190, 90, 90);
}
.logo > span {
  font-size: clamp(0.6vw, 1.1vw, 2rem); 
  margin-left: 20px;
  margin-top: -23px;
  border-right: rgb(190, 90, 90);
}
.Nav > ul{
  display: flex;
  justify-content: space-around;
  width: 55%;
  height: 100%;
}
.Nav li{
  font-family: Ubuntu, sans-serif;
  font-size: 1.5em;
  margin-top: 25px;
  padding: 25px 25px 15px;
}
.Nav li:hover{
  background: rgba(0,0,0,0.1);
}
li > *{
  color: rgb(223, 107, 107);
  text-decoration: none;
}
.component-title{
  color:rgb(70, 16, 16);
  text-align: center;
  margin-top: 22px;
  margin-bottom: 25px;
}
.home-card-container{
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1200px;
  min-height: 500px;
  border: 1px solid rgba(1,1,1,0.6);
}
.homecard{
  flex-basis: 25%;
  color:rgb(87, 67, 67);
  transition: 3s ease-in-out;
}
.homecard:hover{
  .home-big-text{
    transform: translate(0, 7vh);
    opacity: 0.1;
    visibility: hidden;

  }
  .blur-bg{
    visibility: visible;
    opacity:1;
  }
}
#books, #cart, #github{
  cursor: pointer;
}
.home-big-text{
  font-size: 2.5em;
  width: 100px;
  transform: translate(0, 30vh); 
  margin: auto;
  text-align: center;
  pointer-events: none;
  color: rgb(48, 39, 39);
  transition: 0.4s ease-in-out;
}

.blur-bg{
  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(6px);
  min-height: 300px;
  pointer-events: none;
  visibility: hidden;
  opacity:0;
  transition: 1s;
}
.homecard-header{
  text-align: center;
}
.homecard-desc{
  text-align: center;
  padding: 10px 20px;
  white-space: pre-wrap;
}

/*********BOOKS SECTION*********/
.books-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 34px 18px 34px 28px;
}
.book-display-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 15px 20px;
  width: 85%;
  .book-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: inherit;
    text-align: center;
    border: 1px solid rgba(1,1,1,0.4);
    padding: 25px;
    height: auto;
    .book-display-upper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .book-display-lower{
      .book-click-text{
        font-size: 12px;
      }
    }
  }
}
.book-title{
  color: rgb(223, 107, 107);
  width: 200px;
  cursor: pointer;
}
.book-title:hover{ text-decoration: underline; }
.book-author{
  text-align: center;
  font-weight: 200;
}
/*********Side Navigation BOOKS*********/
.Books-Nav{
  display: flex;
  padding: 24px 10px 40px 24px;
  flex-direction: column;
  font-size: clamp(1vw, 1.2vw, 2rem);
  background-color:rgb(48, 39, 39);
  color: white;
  border-radius: 12px;
  width: 15%;
  ul{
    margin: 0 auto;
    margin-left: -12px;
    border-radius: 12px;
  }
  i{
    margin-left: 5px;
    color: white;
  }
  li, h4{
    cursor: pointer;
    padding-bottom: 12px;
    border-bottom:1px solid rgba(48, 39, 39, 0.1);
  }
  li:hover{
    text-decoration: underline;
  }
  *{
    user-select: none;
  }
  li:target{
    font-weight: bold;
  }
}
.prop-list{
  ul{
    margin-left: -40px;
  }
  li{
    font-size: clamp(0.6vw, 0.8vw, 2rem);
  }
  li:hover{
    color:rgb(228, 127, 127);
  }
}
.fa-search-plus{
  transform: scale(0.6);
}
.add-to-cart{
  background-color:rgb(73, 200, 51); 
  border: none;
  i { color: white;}
  span { color: white;}
}
.add-to-cart:hover{
  transform: scale(1.2);
}
/*********BOOK-DETAIL SECTION*********/
.modal{
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(24,24,24,0.1);
  position: fixed;
}
.Book-Detail{
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  width: 50vw;
  height: 60vh;
  background: #c8dcde;
  border: 1px solid rgba(1,1,1,0.2);
  .book-detail-info{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
    width: 30%;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.295);
    padding: 10px 15px;
    margin: 10px 30px;
    .book-title{
      font-size: clamp(1vw, 1.2vw, 2rem);
    }
  }
}

.book-detail-desc{
  padding: 30px 10px;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.295);
  margin: 10px 30px;
  width: 65%;
  font-size: clamp(0.5vw, 0.8vw, 1.2vw);
}
.img-slider{
  display: flex;
  flex-direction: column;
}
.img-slider-main{
  display: flex;
  align-items: center;
  button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
  }
  button:hover{
    border: 1px solid rgb(34, 32, 32);
  }
  img{
    width: 150px;
  }
}
.dots{
  text-align: center;
}
.current{
  background: #4949498a;
}
.isc{
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  transition: background-color 0.6s ease;
}

.book-detail-genre-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-self: center;
  .book-detail-genre{
    margin: 2px 3px;
    padding: 2px 4px;
    font-size: clamp(0.5em, 0.7em, 1.4em);
    background:rgb(240, 94, 94);
    color: white;
  }
}
.book-detail-cart-wrapper{
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.book-detail-price-tag{
  padding: 5px;
  font-size: clamp(0.5em, 0.7em, 1.4em);
  background: rgb(236, 174, 174);
}
.btn-close{
  position: absolute;
  top: 100;
  right: .2%;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  color:rgb(158, 12, 12);
  .fa-times-circle{
    margin: 0 auto;
  }
}
.btn-close:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  transform: scale(1.04);
}
/*********SHOPPING-CART SECTION*********/
.Cart{
  margin: 24px 50px;
}
.shopping-cart-wrapper{ width: 760px; }
#cart-table-header{
  border-bottom: 2px solid rgba(24,24,24, 0.4);
}
.shopping-cart-list{
  border: 1px solid rgba(1,1,1,0.2);
  width: inherit;
}
.shopping-cart-item{
  display: flex;
  justify-content: space-between;
  padding: 13px 10px;
}
.shopping-item-book, .shopping-item-cost{
  font-weight: 300;
  padding-right: 22px;
}
.shopping-cart-item > span:nth-child(even){
  background-color: #f2f2f2;
}
.cart-empty-text{
  font-weight: 300;
  padding: 5px 25px;
}
.cart-btn-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button{
    margin: 25px;
  }
}
.btn-payment{
  background: rgb(241, 126, 126);
  i { color: white;}
  span { color: white;}
}
#total{
  border-top: 3px double rgba(48, 39, 39,0.2);
  display: flex;
  justify-content: flex-end;
  padding-right: 33px;
}